.dark {
    background: #14223B;
}

.dark .logo {
    background-image: url(../img/dark/logo_dark.svg);
}

.dark .header__link,
.dark .user__mail,
.dark .table__value,
.dark .footer__link,
.dark .footer__dock {
    color: #FFFFFF;
}

.dark .notification {
    background-image: url(../img/dark/notifications_dark.svg);
}

.dark .user {
    border: 1px solid #3D5481;
    background-color: #213151;
}

.dark .user__avatar {
    background-color: #142443;
}

.dark .user-link {
    background-image: url(../img/dark/user_dark.svg);
}

.dark .header__burger {
    background-image: url(../img/dark/burger_dark.svg);
}

.dark .mode {
    background-image: url(../img/light.png);
}

.dark .toolbar,
.dark .menu,
.dark .table,
.dark .footer{
    background-color: #131D32;
}

.dark .search {
    border: 1px solid #3D5481;
    background-color: #213151;
}

.dark .main_load .search,
.dark .table_none .search {
    border: 1px solid #2E3D5A;
    background-color: transparent;
}
.dark .main_load .search__inp::placeholder,
.dark .table_none .search__inp::placeholder {
    color: #2E3D5A;
}
.dark .main_load .search__btn,
.dark .table_none .search__btn {
    background-image: url(../img/dark/search-blok.svg);
}

.dark .search__inp {
    color: #FFFFFF;
}

.dark .main_load .filter__btn,
.dark .table_none .filter__btn {
    color: rgba(255, 255, 255, 0.5);;
    background-color: rgba(45, 152, 222, 0.05);
}

.dark .filter__list {
    color: #FFFFFF;
    background-color: #213151;
}

.dark .filter__radio:checked ~ .filter__option-name {
    color: #3FA5E7;
}

.dark .main_load .to-exel,
.dark .main_load .to-csv,
.dark .table_none .to-exel,
.dark .table_none .to-csv {
    color: rgba(45, 152, 222, 0.3);
    border: 1px solid rgba(45, 152, 222, 0.3);
}

.dark .menu__item_active .menu__link,
.dark .menu__link:hover {
    background: linear-gradient(90deg, rgba(64, 167, 234, 0.22) 0%, rgba(0, 180, 158, 0.02) 100%);
}

.dark .table__line {
    background-color: #14223B;
}

.dark .table__head .table__line,
.dark .table__line:nth-child(2n),
.dark .table__blok::before, 
.dark .table__blok::after  {
    background-color: #213151;
}

.dark .table__head .table__cell {
    border-bottom: 9px solid #131D32;
}

.dark .table__body .table__cell {
    border-top: 3px solid #131D32;
    border-bottom: 3px solid #131D32;
}

.dark .table__cell:last-child {
    border-right: 3px solid #131D32;
}

.dark .table__cell:first-child {
    border-left: 3px solid #131D32;
}

.dark .table__title-line {
    color: #40A7EA;
}

.dark .main_load .table::after, 
.dark .main_table_load .table::after {
    background-image: url(../img/dark/load-dark.svg);
}

.dark .main_load .table::before, 
.dark .main_table_load .table::before {
    background-color: transparent;
}

.dark .pages__item {
    color: #FFFFFF;
    border-color: #324873;
}

.dark .pages__item:first-child {
    background-image: url(../img/dark/arrow_b_dark.svg);
}
.dark .pages__item:last-child {
    background-image: url(../img/dark/arrow_n_dark.svg);
}

.dark .pages__item_active,
.dark .pages__item:hover {
    background-color: transparent;
    color: #40A7EA;
    border-color: #40A7EA;
}
.dark .pages__item_active + .pages__item,
.dark .pages__item:hover + .pages__item {
    border-left: 1px solid #40A7EA;
}
.dark .pages__item:first-child.pages__item_active,
.dark .pages__item:first-child:hover {
    background-image: url(../img/dark/arrow-b-active.svg);
}
.dark .pages__item:last-child.pages__item_active,
.dark .pages__item:last-child:hover {
    background-image: url(../img/dark/arrow-n-active.svg);
}



/* необходимо переделать пагинацию */

.dark .footer {
    background-image: url(../img/dark/wave_dark.svg);
}

.dark .telegram {
    background-image: url(../img/dark/tg_dark.svg);
}
.dark .youtube {
    background-image: url(../img/dark/youtube_dark.svg);
}
.dark .twitter {
    background-image: url(../img/dark/tw_dark.svg);
}
.dark .reddit {
    background-image: url(../img/dark/reddit_dark.svg);
}
.dark .vk {
    background-image: url(../img/dark/vk_dark.svg);
}

@media (min-width: 1050px) {
    .dark .header__link:hover,
    .dark .footer__link:hover,
    .dark .footer__dock:hover {
        color: #40A7EA;
    }
    .dark .to-exel:hover,
    .dark .to-csv:hover {
        color: #FCFEFF;
        background-color: #2D98DE;
    }
}

@media (max-width: 1104px) {
    .dark .filter__triger:hover,
    .dark .filter__option-name:hover {
        color: #FFFFFF;
    }
    .dark .table__body .table__cell {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;

    }
    .dark .table__body .table__cell:not(:last-child){
        border-bottom: 2px solid #131D32 !important;
    }

    .dark .table {
        border-bottom: 20px solid #131D32;
    }
}